{% include "header.html" %}

<body>

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nuestros Tenis</h1>
<!--              <span class="color-text-a">Grid Properties</span>-->
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ url_for('main') }}">Home</a>
                </li>

              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
            </div>
          </div>

    {% for tennis in todos_los_tennis.items %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">

              <div class="img-box-a">

                <img src="{{ tennis.img_url_2 }}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{{ url_for('show_tenis', tenis_id=tennis.id) }}">{{ tennis.marca }} </a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Talla {{ tennis.size }} US | $ {{ tennis.price }} MXN</span>
                    </div>
                    <a href="{{ url_for('show_tenis', tenis_id=tennis.id) }}" class="link-a">Ver
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
<!--                  <div class="card-footer-a">-->
<!--                    <ul class="card-info d-flex justify-content-around">-->
<!--                      <li>-->
<!--                        <h4 class="card-info-title">Area</h4>-->
<!--                        <span>340m-->
<!--                          <sup>2</sup>-->
<!--                        </span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <h4 class="card-info-title">Beds</h4>-->
<!--                        <span>2</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <h4 class="card-info-title">Baths</h4>-->
<!--                        <span>4</span>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <h4 class="card-info-title">Garages</h4>-->
<!--                        <span>1</span>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
          {% endfor %}






        <!--Pagination Links-->
          <div class="row">
            <div class="col-sm-12">
              <nav class="pagination-a">
                <a href="{{ url_for('all_tennis', page=todos_los_tennis.prev_num) }}"
                  class="btn
                  {% if todos_los_tennis.page == 1 %} disabled {% endif%}">
                  &laquo;
                </a>
          <!-- Loop through the number of pages to display a link for each -->
            {% for page_num in todos_los_tennis.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

            {% if page_num %}
          <!--Check for active page and set link to "Active"-->
              {% if todos_los_tennis.page == page_num %}
              <a href="{{ url_for('all_tennis', page=page_num) }}"
                class="btn btn-success">
                {{ page_num }}
              </a>
              {% else %}
              <a href="{{ url_for('all_tennis', page=page_num) }}"
                 class="btn btn-outline-success">
                {{ page_num }}
              </a>
              {% endif %}
            {% else %}
            ...
            {% endif %}
          {% endfor %}

            <a href="{{ url_for('all_tennis', page=todos_los_tennis.next_num) }}"
               class="btn
               {% if todos_los_tennis.page == todos_los_tennis.pages %} disabled {% endif %}">
                &raquo;
            </a>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <nav class="pagination-a">
                <p class="pagination justify-content-center">
                  Showing page {{ todos_los_tennis.page }} of {{ todos_los_tennis.pages }}
                </p>
              </nav>
            </div>
          </div>


       </section><!-- End Property Grid Single-->

  </main><!-- End #main -->


</body>

{% include "footer.html" %}